{% extends "movie/parent.html" %}
 {% load crispy_forms_tags %} 
 {% block content%}
<style>

  form.movie {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    color: black;
    border-radius: 2px;
    box-shadow: 0 0 5px #000;
  }
  .sinle-attr{
    display: flex;
    color: white;
    background-color: black;
  }
  .details{
    margin: 10px 5px  0;
  }

  .movie-info{
    background-color: white; 
    color: black;
     padding: 10px
  }
</style>

<article>
  <form  method="GET" class="content-section movie">
    {{form|crispy}}
    <button
      type="submit"
      style="height: 35px; margin-top: 25px; outline: none; border: none"
    >
      Search
    </button>
  </form>
</article>


<div class="content">
  <div class="sinle-attr">
    {% if Title is not None %}
      <img src="{{Poster}}" alt="" height="400">

      <div class="details">
        <p class="movie-info">Title: <span style="font-size: 13px;">{{Title}}</span></p>
        <p class="movie-info">Year: <span style="font-size: 13px;">{{Year}}</span></p>
        <p class="movie-info">Released: <span style="font-size: 13px;">{{Released}}</span></p>
        <p class="movie-info">Genre: <span style="font-size: 13px;">{{Genre}}</span></p>
        <p class="movie-info">Director: <span style="font-size: 13px;">{{Director}}</span></p>
        <p class="movie-info">Rated: <span style="font-size: 13px;">{{Rated}}</span></p>
        <p class="movie-info">Plot: <span style="font-size: 13px;">{{Plot}}</span></p>
      </div>
    {% else %}
      <p>Nothing to show</p>
    {% endif %}
  </div>
</div>
{% endblock %}
