
{% extends "movie/parent.html" %} {% load crispy_forms_tags %} {% block content %}
<style>
  body{
    height: auto;
  }
    .content-section{
        background-color: white;
        border-radius: 5px;
        border: 1px solid black;
        padding: 20px;
    }
    .media img{
        width: 150px;
        height: 150px;
    }
    .user-history{
      background-color: darkslategray;
      margin: 5px 0 20px 0;
      color: white;
      padding: 20px;
      margin-bottom: 40px;
    }

    .user-history h2{
      text-align: center;
    }
    
</style>
<div class="content-section">
  <div class="media">
    <img
      class="rounded-circle account-img"
      src="{{ user.profile.image.url }}"
    />
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Profile info</legend>
      {{u_form|crispy}} {{p_form|crispy}}
    </fieldset>
    <div class="form-group mt-4">
      <button type="submit" class="btn btn-outline-info">Update</button>
    </div>
  </form>

</div>
<div class="user-history">
  <h2>SEARCH HISTORY</h2>
  <br>
  {% for obj  in user.history_set.all %}
    <div class="single-movie" style="border-radius: 1px;margin-bottom: 2px;padding: 0 20px;background-color: rgb(228, 224, 224); color: darkslategray">
      <h4>Title: <span style="font-size: 15px;">{{obj.movie_title}}</span></h4>
      <a href="{{obj.searched_link}}" style="font-style: italic;">{{obj.searched_link}}</a>
    </div>  
  {% endfor %}

  <a href="" class="btn btn-danger mt-3" style="margin-left: 90%;">Clear</a>
  
</div>
{% endblock content %}
