* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header {
  background-color: #0aa9cc;
}
nav {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
}
.left a {
  color: white;
  text-decoration: none;
}
.right ul {
  list-style: none;
  display: flex;
}
.right ul li {
  margin-left: 15px;
}
.right ul li a {
  color: white;
  text-decoration: none;
}


footer{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: rgb(210, 215, 210);
  text-align: center;
  color: rgb(67, 67, 68);
  padding: 10px 0;
}
footer small{
  color: #939696;
}