* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header {
  background-color: #0aa9cc;
}
nav {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
}


.left a {
  color: white;
  text-decoration: none;
}
.right ul {
  list-style: none;
  display: flex;
}
.right ul li {
  margin-left: 30px;
}
.right ul li a {
  color: white;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  left: 100%;
  transform: translateX(-50%);
  min-width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px 0;
  z-index: 1;
}
.dropdown-content ul li a{
  color: black;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover{
  color: #0aa9cc;
}
form small{
  display: none;
}
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: rgb(210, 215, 210);
  text-align: center;
  color: rgb(67, 67, 68);
  padding: 10px 0;
}
footer small{
  color: #939696;
}