{% extends "profiles/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% block navigation %}
    <link rel="stylesheet" type="text/css" href="{% static 'transactions/deposit.css' %}" />
    <title>Create account</title>
  {% endblock %}
  <body>
    {% block content %}
    <h1 style="text-align: center; margin-top: 3vh;">CREATE ACCOUNT FOR CUSTOMER</h1>
    <div class="contents">
      <div class="btn-navigation">
        <form action="{% url 'transactions:gen_acc' %}" method="GET">
          <label for="account_num">Generate Account Number</label>
          <button type="submit">Generate</button>
        </form>
        {% if messages %}
          <div class="messages">
              {% for msg in messages %}
                <p style="color: rgb(0, 132, 255)">{{msg}}</p>
                <small style="color: rgb(0, 132, 255)">{{msg.tags}}</small>
              {% endfor %}
            </div>
        {% endif %}
      </div>
      <div class="trans-forms">
        <form action="" method="POST" id="post-form">
          {% csrf_token%} {{form|crispy}}
          <button type="submit">Create Account</button>
        </form>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
