{% extends "profiles/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% block navigation %}
    <link rel="stylesheet" type="text/css" href="{% static 'transactions/deposit.css' %}" />
    <title>Make Deposit</title>
  {% endblock %}
  <body>
    {% block content %}
    <h1 style="text-align: center; margin-top: 3vh;">TELLER TRANSACTION BOARD</h1>
    <div class="contents">
      <div class="btn-navigation">
        <form action="{% url 'transactions:find_account' %}" method="GET">
          <label for="account_num">Search Account Number</label>
          <input type="number" name="account_num" id="" />
          <button type="submit">Search</button>
        </form>
        {% if messages %}
          <div class="messages">
            {% for msg in messages %}
              {% if msg.tags == 'error' %}
                <p style="color: rgb(255, 47, 0)">{{msg}}</p>
              {% else %}
                <small style="color: rgb(0, 132, 255)">{{msg}}</small>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="trans-forms">
        <form action="" method="POST" id="post-form">
          {% csrf_token%} {{form|crispy}}
          <button type="submit">Record Transaction</button>
        </form>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
