
{% extends "profiles/base.html" %}
{% load  static %}
{% block navigation %}
    <title>Transaction Inspection</title>
    <link rel="stylesheet" href="{% static 'transactions/inspect.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>TRANSACTION INSEPCTION</h1>
        <div class="btn-navigation">
            <form action="{% url 'transactions:transact_history' %}" method="GET">
                <label for="account_num">Filter By Account Number</label>
                <input type="text" name="account_num" id="">
                <button type="submit">Search</button>
            </form>
        </div>
        <table>
            <tr>
                <th>Account Number</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Type</th>
                <th>Date Done</th>
            </tr>
            {% for trans in object %}            
                <tr>
                    <td>{{trans.account_num}}</td>
                    <td>{{trans.amount}}</td>
                    <td>{{trans.description}}</td>
                    <td>{{trans.type}}</td>
                    <td>{{trans.date_done}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}