
{% extends "profiles/base.html" %}
{% load  static %}
{% block navigation %}
    <title>Transaction Inspection</title>
    <link rel="stylesheet" href="{% static 'transactions/inspect.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>TRANSACTION INSEPCTION</h1>
        <table>
            <tr>
                <th>Account Number</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Type</th>
                <th>Date Done</th>
            </tr>
            {% for trans in objects %}            
                <tr>
                    <td>{{trans.account_num}}</td>
                    <td>{{trans.amount}}</td>
                    <td>{{trans.description}}</td>
                    <td>{{trans.type}}</td>
                    <td>{{trans.date_done}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}