{% extends "profiles/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% block navigation %}
    <link rel="stylesheet" type="text/css" href="{% static 'transactions/deposit.css' %}" />
    <style>
      form{
        margin-top: 10px;
        padding: 10px;
      }
      li{
        list-style: none;
        color: red;
        text-align: center;
        margin: 10px 0;
      }
      
    </style>
    <title>Create Password</title>
  {% endblock %}
  <body>
    {% block content %}
    <h1 style="text-align: center; margin-top: 3vh;">
      Create Password
    </h1>
    <div class="contents">
      <div class="trans-forms">  
        {% if messages %}
          {% for msg in messages %}
            <p style="background-color: brown; padding-left: 40px; color: white;">{{msg}}</p> 
          {% endfor %}      
        {% endif %}
        <form action="" method="POST" id="post-form">
          {% csrf_token%} 
          {{form|crispy}}
          <button type="submit">Create Password</button>
        </form>
        <small><i>Already registered? <a href="{% url 'profiles:login' %}">Login Here</a></i></small>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
