{% extends "profiles/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% block navigation %}
    <link rel="stylesheet" type="text/css" href="{% static 'transactions/deposit.css' %}" />
    <style>
      form{
        margin-top: 10px;
        padding: 10px;
        height: 60vh;
        overflow-y: scroll;
      }
    </style>
    <title>Customer Profile</title>
  {% endblock %}
  <body>
    {% block content %}
    <h1 style="text-align: center; margin-top: 3vh;">CREATE PROFILE FOR CUSTOMER</h1>
    <div class="contents">
      {% if messages %}
        <div class="messages">
          {% for msg in messages %}
            {% if msg.tags == 'error' %}
              <p style="color: rgb(255, 47, 0)">{{msg}}</p>
            {% else %}
              <small style="color: rgb(0, 132, 255)">{{msg}}</small>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    
      <div class="trans-forms">
        <form method="POST" id="post-form" enctype="multipart/form-data">
          {% csrf_token %}
          {{form|crispy}}
          <button type="submit">Add Info</button>
        </form>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
